@charset "utf-8";
/* CSS Document */

#cuerpo #contenidogeneral #contenido .textfieldValidState img {
	float: left;
	width: 45%;
	margin-right: 4%;
	margin-bottom: 10px;
}
#cuerpo #contenidogeneral #contenido .textfieldValidState img {
	float: left;
	width: 45%;
}
#cuerpo #contenidogeneral #contenido .textfieldValidState img {
	float: left;
	width: 45%;
}
